<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saispark.marathi_video_status">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.saispark.marathi_video_status.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:icon">

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9376295832853667~9084738592"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name="com.saispark.marathi_video_status.services.NotifFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.SlideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.VideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.PermissionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.UploadVideoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.LoginActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.SupportActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.PolicyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.LanguageActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.AllCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.UserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.EditActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.WhatsAppActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.ImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.GifActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.QuoteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.UploadImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.UploadGifActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.UploadQuoteActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.PayoutsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.EarningActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.RequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.PlayerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.AllPortaitVideosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.AllFullScreenCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.AllFullScreenUserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.AllFullScreenSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.saispark.marathi_video_status.ui.Activities.AllFullScreenFollowActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.saispark.marathi_video_status.ui.Activities.YoutubeActivity"></activity>
        <activity android:name="com.saispark.marathi_video_status.ui.Activities.UploadYoutubeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
    </application>

</manifest>